*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 100vh;
    background-image: url('/img/banner.jpg');
    background-position: center center;
    background-size: cover;
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
    background-attachment: fixed;
}

nav{
    width: 100%;
    height: 7rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

nav .logo{
    color: white;
    font-weight: 800;
    font-size: 5rem;
    margin-left: 5rem;
}



.mnu{
    margin-right: 6rem;
}

nav .mnu a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px 10px;
    font-weight: 800;
    font-size: 1.5rem;
}

nav .mnu a:hover{
    background-color: red;
    transition: 0.5s;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header .txt{
    color: white;
    margin-top: 136px;
    margin-left: 260px;


}

header .txt h1{
    font-size: 3rem;
}

header .txt p{
    font-size: 1.5rem;
}

 .btn{
    margin-top: 20px;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    border: none;
    outline: none;
    color: white;
    background-color: red;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

 .btn a{
    text-decoration: none;
    color: white;
}

 .btn:hover{
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    transition: .5s;
}

section{
    margin-top: 70px;
}

section #abt{
    
    padding: 100px 50px;
}

section .sec-inf{
    text-align: center;
}

section .sec-inf h1{
    font-size: 40px;
    text-decoration: underline;
    letter-spacing: 2px;
    padding: 10px;
}

section .sec-inf p{
    font-size: 25px;  font-weight: 600;
    letter-spacing: 2px;
    color: red;
}


section .abt-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

section .abt-col-lft{
    flex-basis: 50%;
}

section .abt-col-lft img{
    width: 100%;
    padding: 50px;
}

section .abt-col-rht{
    
    flex-basis: 50%;
    text-align: center;
    align-items: center;

}

section .abt-col-rht .tit{
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px;
}

section .abt-col-rht p{
    font-size: 20px;
    letter-spacing: 2px;
    text-align: justify;
    padding: 30px;
}

#skills{
    padding: 100px 50px;
    background: url('/img/part.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
}

.skill-row{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: rgba(45, 52, 54);
    padding: 20px;
    color: white;
}

.skill-lft{
    flex-basis: 50%;
    text-align: justify;
}

.skill-lft p{
    font-size: 20px;
    letter-spacing: 2px;

}

.skill-rht{
    flex-basis: 50%;
}

progress{
    width: 80%;
}

.progress{
    width: 100%;
    margin: auto;
}

.progress p{
    margin-bottom: 10px;
    font-size: 20px;
    padding-left: 80px;
    text-align: justify;
}

#services{
    padding: 100px 50px;
    margin-top: 40px;
    
}
.ser-row{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.ser-box{
    flex-basis: 25%;
    text-align: center;
    box-shadow: 2px 3px 5px grey;
    padding: 10px;
}

.ser-box:hover{
    background-color: red;
    color: white;
    transition: .5s;
}

.ser-box img{
   border-radius: 20px;
    width: 100%;
    height: 50%;
}

.ser-box h2{
    margin-top: 10px;
    font-size: 30px;
    letter-spacing: 1px;
}

.ser-box p{
    padding: 10px;
    font-size: large;
    letter-spacing: 2px;
    text-align: justify;
}


#footer{
    padding: 100px 50px;
    background: linear-gradient(160deg , red 45% , white 0%);
}

.contact-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.lft-col{
     margin-top: 90px;
    flex-basis: 50%;
}
.lft-col img{
    height: 100%;
    width: 100%;
}

.rht-col{
    flex-basis: 50%;
}

.rht-col form{
   /* margin-left: 8rem; */
   text-align: center;

}

.rht-col form h2{
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-decoration: underline;
    font-weight: 900;
}

.rht-col form input{
    width: 40%;
    height: 30px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: red;
}

.rht-col form textarea{
    width: 40%;
    padding: 10px;
    font-size: 20px;
    color: red;
}


@media only screen and (max-width: 770px){
    header{
        background: url('/img/banner.jpg');
        background-size: cover;
        background-attachment: fixed;
    }

    .mnu a{
        display: none;
    }

    nav .logo{
        color: white;
        font-weight: 800;
        font-size: 4rem;
        margin-left: 4rem;
    }

    header .txt{
        color: white;
        margin-top: 136px;
        margin-left: 100px;
    }

    section .abt-col-lft{
        flex-basis: 100%;
    }
    
    section .abt-col-rht{
        
        flex-basis: 100%;
        text-align: center;
        align-items: center;
    }

    .skill-lft{
        flex-basis: 100%;
        /* text-align: justify; */
    }
    
    .skill-rht{
       flex-basis: 100%;

    }

    .progress{
       padding-top: 80px;
    }

    .progress p{
        margin-bottom: 10px;
        font-size: 20px;
        text-align: justify;
    }

    .ser-box{
        flex-basis: 100%;
        margin-top: 60px;
    }

    .ser-box img{
        width: 100%;
    }

    .lft-col{
        margin-top: 90px;
       flex-basis: 100%;
   }

   .rht-col{
    flex-basis: 100%;
    margin-top: 50px;
}

.rht-col form{
    /* margin-left: 8rem; */
    text-align: center;
 
 }
 
 .rht-col form h2{
     margin-bottom: 20px;
     letter-spacing: 2px;
     text-decoration: underline;
     font-weight: 900;
 }
 
 .rht-col form input{
     width: 80%;
    
 }
 
 .rht-col form textarea{
     width: 80%;
     
 }

}



